
.banner {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url(../assets/images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #33A8DB80;
    height: 600px;
    padding-top: 60px;
}

.banner .banner-content {
    color: white;
    margin: auto;
    text-align: center;
    width: 600px;
}

.banner .logo {
    background-color: rgba(0, 0, 0, .2);
    border-radius: 50%;
    height: 260px;
    margin: auto;
    margin-bottom: 16px;
    padding: 16px;
    width: 260px;
}

.banner h1 {
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
}

.banner p {
    font-size: 1.25rem;
    margin: 16px 0 24px;
}

.banner .banner-content button {
    background-color: transparent;
    border-image: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 10;
    border-radius: 30px;
    color: #31A8DD;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 4px;
    padding: 16px 32px;
    text-transform: uppercase;
}