
section {
    margin: 100px auto;
}

#course-content {
    text-align: center;
    width: 800px;
}

h2 {
    color: #33A8DB;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 24px;
    text-transform: uppercase;
}

p {
    color: white;
}

#course-content .modules-list {
    margin: 24px 0;
}

#course-content .modules-list .module {
    background-color: #252525;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
    border: 1px solid #33A8DB;
    border-radius: 100px;
    color: white;
    margin: 0 auto 24px;
    padding: 16px;
    width: 530px;
}

#course-content .modules-list .module span {
    color: #33A8DB;
}

#transform-world {
    background-attachment: fixed;
    background-image: url(../images/woman-code.png);
    background-size: cover;
    border-bottom: 1px solid #33A8DB80;
    border-top: 1px solid #33A8DB80;
    height: 560px;
    padding: 200px;
}

#transform-world p {
    font-weight: 900;
    font-size: 2.5rem;
    max-width: 250px;
    text-shadow: 3px 2px #33A8DB;
    text-transform: lowercase;
}

#professional-challenges {
    text-align: center;
    width: 800px;
}

#professional-challenges img {
    margin: 32px 0;
}