section {
    margin: 100px auto;
}

#course-content {
    text-align: center;
    width: 800px;
}


#course-content .modules-list {
    margin: 24px 0;
}

#course-content .modules-list .module {
    background-color: var(--black);
    box-shadow: inset -5px 6px 8px var(--black-70);
    border: 1px solid var(--blue_1);
    border-radius: 100px;
    color: var(--white);
    margin: 0 auto 24px;
    padding: 16px;
    width: 530px;
}

#course-content .modules-list .module span {
    color: var(--blue_1);
}

#transform-world {
    background-attachment: fixed;
    background-image: url(../images/woman-code.png);
    background-size: cover;
    border-bottom: 1px solid var(--blue_1-80);
    border-top:  var(--border-blue);
    height: 560px;
    padding: 200px;
}

#transform-world p {
    font-weight: 900;
    font-size: 2.5rem;
    max-width: 250px;
    text-shadow: 3px 2px var(--blue_1);
    text-transform: lowercase;
}

#professional-challenges {
    text-align: center;
    width: 800px;
}

#professional-challenges img {
    margin: 32px 0;
}